.ship-on-field {
    height: 40px;
    width: 40px;
    background: lightgreen;
}

.battlefield-cell-content {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    position: relative;
}

.mark {
    height: 40px;
    width: 40px;
    background: rgb(206, 245, 65);
}

.mark-ship {
    height: 40px;
    width: 40px;
    background: red;
}

.enemy-cell {
    background: #fff;
    border: 1px solid #dcdcdc;
}

.enemy-cell:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.records {
    width: 900px;
    height: 300px;
    overflow: auto;
}

.container-records {
    width: 880px;
    height: 500px;
    position: relative;
}